
# Predicting the Dow Jones with News

## General Data flow for a Text Related Business Problem

![title](resources/textmining.png)

# Problem Statement & Reference Architecture

* **Aim**: Use Reddit News Headlines to predict the movement of Dow Jones Industrial Average.   


* **Data Source**: https://www.kaggle.com/aaron7sun/stocknews 


* **Data Description**: Dow Jones details on Open, High, Low and Close for each day from 2008-08-08 to 2016-07-01 and headlines for those dates from Reddit News. 


* **Methodology**: For this project, we will use GloVe to create our word embeddings and CNNs followed by LSTMs to build our model. This model is based off the work done in this paper https://www.aclweb.org/anthology/C/C16/C16-1229.pdf.

![basic](resources/basic_intent.png)

# Installation Prerequisites

# Imports

In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf
import re
import nltk
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.metrics import median_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
import matplotlib.pyplot as plt

In [2]:
## downlaod and unzip the word vectors, if not done already
!wget http://nlp.stanford.edu/data/glove.840B.300d.zip
!unzip glove.840B.300d.zip

--2021-04-09 09:40:57--  http://nlp.stanford.edu/data/glove.840B.300d.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/data/glove.840B.300d.zip [following]
--2021-04-09 09:40:58--  https://nlp.stanford.edu/data/glove.840B.300d.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: http://downloads.cs.stanford.edu/nlp/data/glove.840B.300d.zip [following]
--2021-04-09 09:40:59--  http://downloads.cs.stanford.edu/nlp/data/glove.840B.300d.zip
Resolving downloads.cs.stanford.edu (downloads.cs.stanford.edu)... 171.64.64.22
Connecting to downloads.cs.stanford.edu (downloads.cs.stanford.edu)|171.64.64.22|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2176768927 (2.0G) [application/zip]
Saving to: ‘glove.840B.300d.zip’

glove.840B.300d.zip 100%[===================>]   2.03G  4.98MB/s    in 7m 1s

2021-04-09 09:48:01 (4.93 MB/s) - ‘glove.840B.300d.zip’ saved [2176768927/2176768927]

Archive:  glove.840B.300d.zip
  inflating: glove.840B.300d.txt

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
# Keras Imports
from tensorflow.keras import Sequential, Model
from tensorflow.keras import initializers
from tensorflow.keras.layers import Dropout, Activation, Embedding, Convolution1D, MaxPooling1D, Input, Dense, add, BatchNormalization, Flatten, Reshape, Concatenate, LSTM, GRU
from tensorflow.keras.callbacks import Callback, ModelCheckpoint, EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.optimizers import Adam, SGD, RMSprop
from tensorflow.keras import regularizers
from tensorflow.keras.utils import plot_model
import re

**dataset path:/home/datasets/dowjones-news-data**

In [8]:
dj = pd.read_csv("/home/datasets/dowjones-news-data/DowJones.csv")
news = pd.read_csv("/home/datasets/dowjones-news-data/News.csv")

## Inspect the data

In [9]:
dj.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [10]:
dj.isnull().sum() #No missing data

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [11]:
news.isnull().sum() #No missing data

Date    0
News    0
dtype: int64

In [12]:
news.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [13]:
print(dj.shape)
print(news.shape)

(1989, 7)
(73608, 2)

In [14]:
# Compare the number of unique dates. We want matching values.
print(len(set(dj.Date)))
print(len(set(news.Date)))

1989
2943

In [15]:
# Remove the extra dates that are in news
news = news[news.Date.isin(dj.Date)]

In [16]:
print(len(set(dj.Date)))
print(len(set(news.Date)))

1989
1989

In [17]:
# Remove unwanted features - keep the 'Open' price only
dj = dj.drop(['High','Low','Close','Volume','Adj Close'], 1)
dj.head()

         Date          Open
0  2016-07-01  17924.240234
1  2016-06-30  17712.759766
2  2016-06-29  17456.019531
3  2016-06-28  17190.509766
4  2016-06-27  17355.210938

In [18]:
# Calculate the difference in opening prices between the following and current day.
# The model will try to predict the change in Open value based on the today's news.
dj = dj.set_index('Date')
dj.head()

                    Open
Date
2016-07-01  17924.240234
2016-06-30  17712.759766
2016-06-29  17456.019531
2016-06-28  17190.509766
2016-06-27  17355.210938

In [19]:
# Target variable = Tomorrow's Open Price - Today's Open Price
dj = -1 * dj.diff(periods=1)

In [20]:
dj.head()

                  Open
Date
2016-07-01         NaN
2016-06-30  211.480468
2016-06-29  256.740235
2016-06-28  265.509765
2016-06-27 -164.701172

In [21]:
dj['Date'] = dj.index
dj = dj.reset_index(drop=True)

In [22]:
dj.head()

         Open        Date
0         NaN  2016-07-01
1  211.480468  2016-06-30
2  256.740235  2016-06-29
3  265.509765  2016-06-28
4 -164.701172  2016-06-27

In [23]:
# Remove top row since it has a null value.
dj = dj[dj.Open.notnull()]

In [24]:
# Check if there are any more null values.
dj.isnull().sum()

Open    0
Date    0
dtype: int64

## Combine the two datasets - For each date, get all the headlines and the price

In [25]:
# Create a list of the opening prices and their corresponding daily headlines from the news
# Define/Initialize the variables
price = []
headlines = []

# For all the rows in the dataframe
for row in dj.iterrows():
    # define a new variable to store all the headlines for the day
    daily_headlines = []
    # Spot the date in the given row
    date = row[1]['Date']
    # Store the price for the date
    price.append(row[1]['Open'])
    for row_ in news[news.Date==date].iterrows():
        daily_headlines.append(row_[1]['News'])

    # Append the headlines for the date
    headlines.append(daily_headlines)
    # Track progress
    if len(price) % 500 == 0:
        print(len(price))

500
1000
1500

<table size="100">
    <tr>
        <td>headlines</td>
        <td>price</td>
    </tr>
    <tr>
        <td>headline-1, headline-2 ..., headline-n</td>
        <td>211.48</td>
    </tr>
</table>

In [26]:
# Check how headlines look like
headlines[:1], price[:1]

([['Jamaica proposes marijuana dispensers for tourists at airports following legalisation: The kiosks and desks would give people a license to purchase up to 2 ounces of the drug to use during their stay',
   "Stephen Hawking says pollution and 'stupidity' still biggest threats to mankind: we have certainly not become less greedy or less stupid in our treatment of the environment over the past decade",
   'Boris Johnson says he will not run for Tory party leadership',
   'Six gay men in Ivory Coast were abused and forced to flee their homes after they were pictured signing a condolence book for victims of the recent attack on a gay nightclub in Florida',
   'Switzerland denies citizenship to Muslim immigrant girls who refused to swim with boys: report',
   'Palestinian terrorist stabs israeli teen girl to death in her bedroom',
   'Puerto Rico will default on $1 billion of debt on Friday',
   'Republic of Ireland fans to be awarded medal for sportsmanship by Paris mayor.',
   "Afghan suicide bomber 'kills up to 40' - BBC News",
   'US airstrikes kill at least 250 ISIS fighters in convoy outside Fallujah, official says',
   'Turkish Cop Who Took Down Istanbul Gunman Hailed a Hero',
   "Cannabis compounds could treat Alzheimer's by removing plaque-forming proteins from brain cells, research suggests",
   "Japan's top court has approved blanket surveillance of the country's Muslims: 'They made us terrorist suspects, we never did anything wrong,' says Japanese Muslim, Mohammed Fujita",
   'CIA Gave Romania Millions to Host Secret Prisons',
   'Groups urge U.N. to suspend Saudi Arabia from rights council',
   'Googles free wifi at Indian railway stations is better than most of the countrys paid services',
   "Mounting evidence suggests 'hobbits' were wiped out by modern humans' ancestors 50,000 years ago.",
   "The men who carried out Tuesday's terror attack at Istanbul's Ataturk Airport were from Russia, Uzbekistan and Kyrgyzstan, a Turkish offical said.",
   'Calls to suspend Saudi Arabia from UN Human Rights Council because of military aggresion in Yemen',
   'More Than 100 Nobel Laureates Call Out Greenpeace For Anti-GMO Obstruction In Developing World',
   'British pedophile sentenced to 85 years in US for trafficking child abuse images: Domminich Shaw, a kingpin of sexual violence against children, sent dozens of images online and discussed plans to assault and kill a child while on probation',
   'US permitted 1,200 offshore fracks in Gulf of Mexico between 2010 and 2014 and allowed 72 billion gallons of chemical discharge in 2014.',
   'We will be swimming in ridicule - French beach police to carry guns while in swimming trunks: Police lifeguards on Frances busiest beaches will carry guns and bullet-proof vests for the first time this summer amid fears that terrorists could target holidaymakers.',
   "UEFA says no minutes of silence for Istanbul victims at Euro 2016 because 'Turkey have already been eliminated'",
   'Law Enforcement Sources: Gun Used in Paris Terrorist Attacks Came from Phoenix']],
 [211.48046800000157])

## Clean up the price list

In [27]:
price[:2]

[211.48046800000157, 256.7402349999975]

In [28]:
# Normalize opening prices (target values)
max_price = max(price)
min_price = min(price)
mean_price = np.mean(price)
def normalize(price):
    return ((price-min_price)/(max_price-min_price))

In [29]:
norm_price = []
for p in price:
    norm_price.append(normalize(p))

In [30]:
# Check that normalization worked well
print(min(norm_price))
print(max(norm_price))
print(np.mean(norm_price))

0.0
1.0
0.4551577545098642

In [31]:
# Compare the number of headlines for each day
print(max(len(i) for i in headlines))
print(min(len(i) for i in headlines))
print(np.mean([len(i) for i in headlines]))

25
22
24.996478873239436

In [32]:
norm_price[:2]

[0.5780280759194737, 0.6047364662478155]

## Clean up the headlines list

In [33]:
# remove contractions
def decontracted(phrase):
    if "'" in phrase:
        # specific
        phrase = re.sub(r"won't", "will not", phrase)
        phrase = re.sub(r"can\'t", "can not", phrase)

        # general
        phrase = re.sub(r"n\'t", " not", phrase)
        phrase = re.sub(r"\'re", " are", phrase)
        phrase = re.sub(r"\'s", " is", phrase)
        phrase = re.sub(r"\'d", " would", phrase)
        phrase = re.sub(r"\'ll", " will", phrase)
        phrase = re.sub(r"\'t", " not", phrase)
        phrase = re.sub(r"\'ve", " have", phrase)
        phrase = re.sub(r"\'m", " am", phrase)
    return phrase

text = "I should've gone to dentist so my teeth wouldn't hurt"
text1 = "But I am good now"
print(decontracted(text))
print(decontracted(text1))

I should have gone to dentist so my teeth would not hurt
But I am good now

In [34]:
def clean_text(text):
    '''Remove unwanted characters and format the text to create fewer nulls word embeddings'''
    
    # Convert words to lower case
    text = text.lower()
    
    # Replace contractions with their longer forms 
    if True:
        text = text.split()
        new_text = []
        # Remove the contractions
        for word in text:
            new_text.append(decontracted(word))
        # Recreate the sentence
        text = " ".join(new_text)
    
    # Format words and remove unwanted characters
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'0,0', '00', text) 
    text = re.sub(r'[_"\-;%()|.,+&=*%.,!?:#@\[\]]', ' ', text)
    text = re.sub(r'\'', ' ', text)
    text = re.sub(r'\$', ' $ ', text)
    text = re.sub(r'u s ', ' united states ', text)
    text = re.sub(r'u n ', ' united nations ', text)
    text = re.sub(r'u k ', ' united kingdom ', text)
    text = re.sub(r'j k ', ' jk ', text)
    text = re.sub(r' s ', ' ', text)
    text = re.sub(r' yr ', ' year ', text)
    text = re.sub(r' l g b t ', ' lgbt ', text)
    text = re.sub(r'0km ', '0 km ', text)
    
    # Remove stop words
    text = text.split()
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)

    return text

In [35]:
# Clean the headlines
clean_headlines = []

for daily_headlines in headlines:
    clean_daily_headlines = []
    for headline in daily_headlines:
        clean_daily_headlines.append(clean_text(headline))
    clean_headlines.append(clean_daily_headlines)

In [36]:
# Take a look at some headlines to ensure everything was cleaned well
clean_headlines[:2]

[['jamaica proposes marijuana dispensers tourists airports following legalisation kiosks desks would give people license purchase 2 ounces drug use stay',
  'stephen hawking says pollution istupidity still biggest threats mankind certainly become less greedy less stupid treatment environment past decade',
  'boris johnson says run tory party leadership',
  'six gay men ivory coast abused forced flee homes pictured signing condolence book victims recent attack gay nightclub florida',
  'switzerland denies citizenship muslim immigrant girls refused swim boys report',
  'palestinian terrorist stabs israeli teen girl death bedroom',
  'puerto rico default $ 1 billion debt friday',
  'republic ireland fans awarded medal sportsmanship paris mayor',
  'afghan suicide bomber kills 40 bbc news',
  'us airstrikes kill least 250 isis fighters convoy outside fallujah official says',
  'turkish cop took istanbul gunman hailed hero',
  'cannabis compounds could treat alzheimer removing plaque forming proteins brain cells research suggests',
  'japan top court approved blanket surveillance country muslims nothey made us terrorist suspects never anything wrong says japanese muslim mohammed fujita',
  'cia gave romania millions host secret prisons',
  'groups urge united nations suspend saudi arabia rights council',
  'googles free wifi indian railway stations better countrys paid services',
  'mounting evidence suggests hobbits wiped modern humans ancestors 50000 years ago',
  'men carried tuesday terror attack istanbul ataturk airport russia uzbekistan kyrgyzstan turkish offical said',
  'calls suspend saudi arabia un human rights council military aggresion yemen',
  '100 nobel laureates call greenpeace anti gmo obstruction developing world',
  'british pedophile sentenced 85 years us trafficking child abuse images domminich shaw kingpin sexual violence children sent dozens images online discussed plans assault kill child probation',
  'us permitted 1 200 offshore fracks gulf mexico 2010 2014 allowed 72 billion gallons chemical discharge 2014',
  'swimming ridicule french beach police carry guns swimming trunks police lifeguards frances busiest beaches carry guns bullet proof vests first time summer amid fears terrorists could target holidaymakers',
  'uefa says minutes silence istanbul victims euro 2016 noturkey already eliminated',
  'law enforcement sources gun used paris terrorist attacks came phoenix'],
 ['explosion airport istanbul',
  'yemeni former president terrorism offspring wahhabism al saud regime',
  'uk must accept freedom movement access eu market',
  'devastated scientists late captive breed mammal lost climate change australian conservationists spent 5 months obtaining permissions planning captive breeding program arrived rodents tiny island late',
  'british labor party leader jeremy corbyn loses confidence vote refuses resign',
  'muslim shop uk firebombed people inside',
  'mexican authorities sexually torture women prison',
  'uk shares pound continue recover',
  'iceland historian johannesson wins presidential election',
  '99 million year old bird wings found encased amber finding things trapped amber far rare researchers burma found pair tiny bird like wings frozen inside knew something special',
  'chatbot programmed british teenager successfully challenged 160000 parking tickets since launch last year',
  'philippine president elect said monday would aggressively promote artificial birth control country even risk getting fight dominant catholic church staunchly opposes use contraceptives',
  'former belgian prime minister ridicules nigel farage accuses ukip leader lying eu referendum campaign',
  'brexiteer nigel farage eu laughing',
  'islamic state bombings southern yemen kill 38 people',
  'escape tunnel dug hand found holocaust massacre site',
  'land beijing sinking much four inches per year overconsumption groundwater according new research',
  'car bomb anti islamic attack mosque perth australia',
  'emaciated lions taiz zoo trapped blood soaked cages left starve months due yemeni civil war',
  'rupert murdoch describes brexit wonderful media mogul likened leaving eu prison break shared view donald trump able man',
  '40 killed yemen suicide attacks',
  'google found disastrous symantec norton vulnerabilities bad gets',
  'extremist violence rise germany domestic intelligence agency says far right far left islamist radical groups gaining membership country',
  'bbc news labour mps pass corbyn confidence motion',
  'tiny new zealand town notoo many jobs launches drive recruit outsiders']]

In [37]:
print('Roughly the number of unique words in English: {}'.format(len({word: None 
                                                                      for headlines in clean_headlines 
                                                                      for headline in headlines 
                                                                      for word in headline.split()})))

Roughly the number of unique words in English: 36311

In [38]:
# Create the word vocab
import collections
words = [word for headlines in clean_headlines for headline in headlines for word in headline.split()]
word_counts = collections.Counter(words)

In [39]:
word_counts

Counter({'jamaica': 23,
         'proposes': 65,
         'marijuana': 216,
         'dispensers': 1,
         'tourists': 95,
         'airports': 33,
         'following': 219,
         'legalisation': 4,
         'kiosks': 2,
         'desks': 1,
         'would': 888,
         'give': 289,
         'people': 1887,
         'license': 21,
         'purchase': 26,
         '2': 733,
         'ounces': 2,
         'drug': 648,
         'use': 605,
         'stay': 107,
         'stephen': 59,
         'hawking': 23,
         'says': 2563,
         'pollution': 135,
         'istupidity': 2,
         'still': 326,
         'biggest': 331,
         'threats': 118,
         'mankind': 13,
         'certainly': 12,
         'become': 314,
         'less': 204,
         'greedy': 6,
         'stupid': 27,
         'treatment': 133,
         'environment': 96,
         'past': 242,
         'decade': 109,
         'boris': 23,
         'johnson': 24,
         'run': 291,
         'tory': 24,
         'party': 512,
         'leadership': 54,
         'six': 295,
         'gay': 444,
         'men': 520,
         'ivory': 106,
         'coast': 209,
         'abused': 54,
         'forced': 334,
         'flee': 91,
         'homes': 199,
         'pictured': 4,
         'signing': 23,
         'condolence': 2,
         'book': 90,
         'victims': 240,
         'recent': 177,
         'attack': 951,
         'nightclub': 11,
         'florida': 11,
         'switzerland': 111,
         'denies': 113,
         'citizenship': 77,
         'muslim': 504,
         'immigrant': 28,
         'girls': 230,
         'refused': 96,
         'swim': 18,
         'boys': 94,
         'report': 869,
         'palestinian': 638,
         'terrorist': 242,
         'stabs': 9,
         'israeli': 1322,
         'teen': 65,
         'girl': 361,
         'death': 953,
         'bedroom': 4,
         'puerto': 19,
         'rico': 17,
         'default': 32,
         '$': 1569,
         '1': 935,
         'billion': 597,
         'debt': 192,
         'friday': 162,
         'republic': 114,
         'ireland': 222,
         'fans': 31,
         'awarded': 43,
         'medal': 20,
         'sportsmanship': 1,
         'paris': 228,
         'mayor': 145,
         'afghan': 420,
         'suicide': 329,
         'bomber': 100,
         'kills': 309,
         '40': 247,
         'bbc': 517,
         'news': 1003,
         'us': 3030,
         'airstrikes': 69,
         'kill': 444,
         'least': 473,
         '250': 38,
         'isis': 702,
         'fighters': 164,
         'convoy': 35,
         'outside': 183,
         'fallujah': 12,
         'official': 489,
         'turkish': 383,
         'cop': 45,
         'took': 153,
         'istanbul': 54,
         'gunman': 57,
         'hailed': 21,
         'hero': 50,
         'cannabis': 117,
         'compounds': 1,
         'could': 978,
         'treat': 26,
         'alzheimer': 5,
         'removing': 29,
         'plaque': 2,
         'forming': 14,
         'proteins': 4,
         'brain': 58,
         'cells': 51,
         'research': 170,
         'suggests': 101,
         'japan': 791,
         'top': 525,
         'court': 1034,
         'approved': 108,
         'blanket': 13,
         'surveillance': 288,
         'country': 1218,
         'muslims': 285,
         'nothey': 27,
         'made': 410,
         'suspects': 92,
         'never': 221,
         'anything': 53,
         'wrong': 125,
         'japanese': 323,
         'mohammed': 46,
         'fujita': 1,
         'cia': 294,
         'gave': 95,
         'romania': 53,
         'millions': 223,
         'host': 70,
         'secret': 435,
         'prisons': 34,
         'groups': 245,
         'urge': 57,
         'united': 2402,
         'nations': 570,
         'suspend': 35,
         'saudi': 765,
         'arabia': 408,
         'rights': 859,
         'council': 185,
         'googles': 2,
         'free': 470,
         'wifi': 7,
         'indian': 397,
         'railway': 33,
         'stations': 42,
         'better': 121,
         'countrys': 100,
         'paid': 149,
         'services': 122,
         'mounting': 28,
         'evidence': 305,
         'hobbits': 1,
         'wiped': 36,
         'modern': 99,
         'humans': 87,
         'ancestors': 9,
         '50000': 51,
         'years': 1544,
         'ago': 255,
         'carried': 77,
         'tuesday': 280,
         'terror': 316,
         'ataturk': 1,
         'airport': 188,
         'russia': 1701,
         'uzbekistan': 10,
         'kyrgyzstan': 27,
         'offical': 2,
         'said': 1185,
         'calls': 585,
         'un': 1015,
         'human': 817,
         'military': 1114,
         'aggresion': 1,
         'yemen': 190,
         '100': 354,
         'nobel': 151,
         'laureates': 7,
         'call': 323,
         'greenpeace': 46,
         'anti': 825,
         'gmo': 17,
         'obstruction': 3,
         'developing': 85,
         'world': 2245,
         'british': 861,
         'pedophile': 36,
         'sentenced': 258,
         '85': 32,
         'trafficking': 99,
         'child': 479,
         'abuse': 354,
         'images': 117,
         'domminich': 1,
         'shaw': 3,
         'kingpin': 14,
         'sexual': 202,
         'violence': 351,
         'children': 773,
         'sent': 166,
         'dozens': 142,
         'online': 271,
         'discussed': 15,
         'plans': 427,
         'assault': 123,
         'probation': 2,
         'permitted': 20,
         '200': 173,
         'offshore': 74,
         'fracks': 1,
         'gulf': 116,
         'mexico': 550,
         '2010': 124,
         '2014': 108,
         'allowed': 163,
         '72': 34,
         'gallons': 13,
         'chemical': 154,
         'discharge': 6,
         'swimming': 16,
         'ridicule': 8,
         'french': 652,
         'beach': 47,
         'police': 1963,
         'carry': 77,
         'guns': 58,
         'trunks': 3,
         'lifeguards': 1,
         'frances': 22,
         'busiest': 3,
         'beaches': 22,
         'bullet': 28,
         'proof': 52,
         'vests': 10,
         'first': 1338,
         'time': 762,
         'summer': 58,
         'amid': 215,
         'fears': 177,
         'terrorists': 171,
         'target': 110,
         'holidaymakers': 2,
         'uefa': 3,
         'minutes': 89,
         'silence': 53,
         'euro': 165,
         '2016': 57,
         'noturkey': 17,
         'already': 168,
         'eliminated': 10,
         'law': 882,
         'enforcement': 45,
         'sources': 90,
         'gun': 101,
         'used': 429,
         'attacks': 509,
         'came': 87,
         'phoenix': 3,
         'explosion': 120,
         'yemeni': 45,
         'former': 637,
         'president': 1422,
         'terrorism': 205,
         'offspring': 2,
         'wahhabism': 3,
         'al': 646,
         'saud': 7,
         'regime': 203,
         'uk': 1427,
         'must': 374,
         'accept': 80,
         'freedom': 230,
         'movement': 101,
         'access': 225,
         'eu': 675,
         'market': 189,
         'devastated': 14,
         'scientists': 401,
         'late': 73,
         'captive': 26,
         'breed': 7,
         'mammal': 10,
         'lost': 231,
         'climate': 423,
         'change': 423,
         'australian': 566,
         'conservationists': 17,
         'spent': 101,
         '5': 575,
         'months': 366,
         'obtaining': 10,
         'permissions': 1,
         'planning': 142,
         'breeding': 7,
         'program': 179,
         'arrived': 27,
         'rodents': 2,
         'tiny': 49,
         'island': 154,
         'labor': 91,
         'leader': 609,
         'jeremy': 21,
         'corbyn': 15,
         'loses': 96,
         'confidence': 28,
         'vote': 290,
         'refuses': 129,
         'resign': 75,
         'shop': 31,
         'firebombed': 7,
         'inside': 186,
         'mexican': 278,
         'authorities': 309,
         'sexually': 67,
         'torture': 263,
         'women': 869,
         'prison': 459,
         'shares': 37,
         'pound': 30,
         'continue': 136,
         'recover': 15,
         'iceland': 197,
         'historian': 10,
         'johannesson': 1,
         'wins': 142,
         'presidential': 133,
         'election': 325,
         '99': 46,
         'million': 894,
         'year': 1680,
         'old': 916,
         'bird': 37,
         'wings': 8,
         'found': 987,
         'encased': 3,
         'amber': 3,
         'finding': 57,
         'things': 67,
         'trapped': 70,
         'far': 276,
         'rare': 135,
         'researchers': 132,
         'burma': 55,
         'pair': 15,
         'like': 569,
         'frozen': 44,
         'knew': 65,
         'something': 85,
         'special': 126,
         'chatbot': 1,
         'programmed': 2,
         'teenager': 63,
         'successfully': 60,
         'challenged': 15,
         '160000': 6,
         'parking': 18,
         'tickets': 11,
         'since': 538,
         'launch': 174,
         'last': 696,
         'philippine': 44,
         'elect': 16,
         'monday': 260,
         'aggressively': 7,
         'promote': 36,
         'artificial': 29,
         'birth': 95,
         'control': 309,
         'even': 458,
         'risk': 161,
         'getting': 153,
         'fight': 357,
         'dominant': 6,
         'catholic': 221,
         'church': 323,
         'staunchly': 3,
         'opposes': 21,
         'contraceptives': 7,
         'belgian': 61,
         'prime': 547,
         'minister': 1064,
         'ridicules': 2,
         'nigel': 10,
         'farage': 10,
         'accuses': 120,
         'ukip': 6,
         'lying': 35,
         'referendum': 102,
         'campaign': 237,
         'brexiteer': 1,
         'laughing': 9,
         'islamic': 587,
         'state': 1243,
         'bombings': 52,
         'southern': 158,
         '38': 32,
         'escape': 82,
         'tunnel': 52,
         'dug': 7,
         'hand': 130,
         'holocaust': 96,
         'massacre': 200,
         'site': 216,
         'land': 321,
         'beijing': 172,
         'sinking': 30,
         'much': 312,
         'four': 387,
         'inches': 10,
         'per': 200,
         'overconsumption': 3,
         'groundwater': 12,
         'according': 345,
         'new': 2425,
         'car': 233,
         'bomb': 345,
         'mosque': 123,
         'perth': 8,
         'australia': 559,
         'emaciated': 4,
         'lions': 29,
         'taiz': 1,
         'zoo': 43,
         'blood': 123,
         'soaked': 4,
         'cages': 9,
         'left': 285,
         'starve': 17,
         'due': 221,
         'civil': 191,
         'war': 1593,
         'rupert': 81,
         'murdoch': 171,
         'describes': 26,
         'brexit': 23,
         'wonderful': 5,
         'media': 461,
         'mogul': 7,
         'likened': 7,
         'leaving': 117,
         'break': 134,
         'shared': 28,
         'view': 77,
         'donald': 27,
         'trump': 43,
         'able': 103,
         'man': 928,
         'killed': 1326,
         'google': 324,
         'disastrous': 12,
         'symantec': 2,
         'norton': 3,
         'vulnerabilities': 2,
         'bad': 139,
         'gets': 271,
         'extremist': 56,
         'rise': 233,
         'germany': 780,
         'domestic': 68,
         'intelligence': 334,
         'agency': 271,
         'right': 555,
         'islamist': 139,
         'radical': 84,
         'gaining': 22,
         'membership': 48,
         'labour': 86,
         'mps': 87,
         'pass': 63,
         'motion': 23,
         'zealand': 233,
         'town': 219,
         'notoo': 17,
         'many': 450,
         'jobs': 102,
         'launches': 131,
         'drive': 85,
         'recruit': 21,
         'outsiders': 7,
         '500': 193,
         'want': 365,
         'save': 177,
         'great': 231,
         'barrier': 82,
         'reef': 93,
         'stop': 443,
         'supporting': 51,
         'coal': 151,
         'personal': 132,
         'details': 87,
         '112': 12,
         '000': 804,
         'officers': 217,
         'uploaded': 10,
         'security': 613,
         'breach': 47,
         'fortnight': 3,
         'two': 1149,
         'murdered': 119,
         'home': 423,
         'jihadist': 24,
         'sp': 16,
         'cuts': 166,
         'kingdom': 148,
         'sovereign': 40,
         'credit': 85,
         'rating': 39,
         'aa': 1,
         'aaa': 9,
         'huge': 213,
         'helium': 6,
         'deposit': 10,
         'africa': 428,
         'ceo': 72,
         'south': 929,
         'african': 287,
         'broadcaster': 18,
         'quits': 41,
         'shortly': 20,
         'negative': 34,
         'banned': 300,
         'cost': 159,
         'investors': 43,
         'trillion': 85,
         'worst': 193,
         'one': 1415,
         'day': 528,
         'drop': 100,
         'ever': 301,
         'hong': 170,
         'kong': 163,
         'democracy': 218,
         'activists': 285,
         'return': 210,
         'rule': 119,
         'step': 129,
         'independence': 117,
         'join': 190,
         'notriangle': 1,
         'non': 168,
         'countries': 537,
         'osborne': 7,
         'absolutely': 26,
         'going': 260,
         'cut': 272,
         'spending': 88,
         'raise': 104,
         'taxes': 93,
         'wouldo': 12,
         'let': 160,
         'scotland': 134,
         'scottish': 68,
         'mep': 7,
         'alyn': 1,
         'smith': 12,
         'urged': 70,
         'members': 262,
         'european': 598,
         'parliament': 457,
         'stand': 109,
         'hit': 380,
         'history': 271,
         'making': 240,
         'dollar': 107,
         'parity': 4,
         'end': 515,
         'merkel': 143,
         'vows': 103,
         'strengthen': 18,
         'tells': 235,
         'cherry': 3,
         'picking': 11,
         'ryanair': 8,
         'deploy': 33,
         'aircraft': 128,
         'routes': 18,
         'next': 318,
         '2017': 17,
         'instead': 136,
         'focus': 32,
         'union': 270,
         'destroy': 116,
         'larry': 4,
         'king': 164,
         'siemens': 5,
         'freezes': 19,
         'wind': 115,
         'power': 593,
         'investment': 59,
         'canada': 679,
         'pledge': 54,
         '50': 308,
         'clean': 122,
         'energy': 350,
         '2025': 10,
         'increasing': 58,
         'torturing': 26,
         'refugees': 218,
         'medical': 167,
         'experts': 164,
         'claim': 215,
         'richard': 53,
         'branson': 12,
         'founder': 183,
         'virgin': 27,
         'group': 591,
         'company': 351,
         'third': 193,
         'value': 53,
         'voted': 91,
         'leave': 228,
         'week': 362,
         '37': 28,
         'skull': 16,
         'borneo': 11,
         'reveals': 199,
         'surprise': 56,
         'study': 301,
         'deep': 94,
         'oldest': 71,
         'discovered': 209,
         'se': 11,
         'asia': 129,
         'ancient': 170,
         'person': 127,
         'related': 78,
         'indigenous': 84,
         'australians': 38,
         'originally': 16,
         'thought': 159,
         'discovery': 72,
         'game': 91,
         'changer': 6,
         'palestinians': 375,
         'stone': 46,
         'western': 288,
         'wall': 126,
         'worshipers': 3,
         'shut': 146,
         'temple': 53,
         'mount': 48,
         'jean': 20,
         'claude': 3,
         'juncker': 3,
         'asks': 130,
         'romanians': 7,
         'remainians': 1,
         'offering': 32,
         '48': 50,
         'britons': 41,
         'bucharest': 8,
         'newspaper': 182,
         'app': 30,
         'connects': 5,
         'loving': 5,
         'romanian': 28,
         'families': 141,
         'needy': 4,
         'brits': 17,
         'allowing': 103,
         'offer': 78,
         'help': 436,
         'immigrants': 67,
         'apply': 31,
         'id': 43,
         'gibraltar': 8,
         'talks': 244,
         '8': 311,
         'bombers': 81,
         'strike': 416,
         'lebanon': 118,
         'forces': 654,
         'routinely': 18,
         'isexual': 3,
         'amnesty': 112,
         'international': 681,
         'compiled': 3,
         'testimonies': 5,
         'despite': 301,
         'thousands': 544,
         'complaints': 38,
         '15': 299,
         'probes': 14,
         'led': 197,
         'criminal': 206,
         'convictions': 12,
         '1991': 5,
         'barclays': 23,
         'rbs': 14,
         'suspended': 74,
         'trading': 49,
         'tanking': 5,
         'pope': 343,
         'ask': 98,
         'forgiveness': 6,
         'gays': 60,
         'poland': 155,
         'ishocked': 3,
         'xenophobic': 5,
         'poles': 9,
         'second': 267,
         'cabinet': 88,
         'agrees': 59,
         'welcome': 60,
         'ally': 58,
         'sterling': 2,
         'dips': 5,
         '31': 42,
         'low': 147,
         'uncertainty': 4,
         'surge': 42,
         'hate': 73,
         'crimes': 318,
         'weapons': 415,
         'shipped': 9,
         'jordan': 93,
         'intended': 30,
         'syrian': 610,
         'rebels': 363,
         'systematically': 15,
         'stolen': 113,
         'jordanian': 22,
         'operatives': 13,
         'sold': 127,
         'arms': 247,
         'merchants': 5,
         'black': 224,
         'american': 549,
         'officials': 601,
         'angela': 66,
         'file': 69,
         'exit': 46,
         'papers': 96,
         'begin': 95,
         'hope': 78,
         'threatened': 146,
         'species': 115,
         'aquarium': 3,
         'osaka': 5,
         'succeeded': 10,
         'artificially': 7,
         'rockhopper': 2,
         'penguin': 8,
         'sky': 44,
         'journalist': 215,
         'speechless': 6,
         'mp': 135,
         'nothere': 22,
         'plan': 347,
         'giant': 170,
         'panda': 11,
         'macau': 1,
         'gives': 140,
         'twins': 9,
         'get': 467,
         'britain': 490,
         'invoke': 3,
         'article': 98,
         'sea': 391,
         'turtle': 17,
         'beaten': 128,
         'dead': 737,
         'taking': 215,
         'selfies': 2,
         'loggerhead': 2,
         'receiving': 29,
         'sticks': 15,
         'stepped': 18,
         'german': 701,
         'lawyers': 75,
         'probe': 143,
         'erdogan': 129,
         'alleged': 197,
         'intensify': 11,
         'cooperation': 42,
         'fellow': 27,
         'supporters': 86,
         '52': 36,
         'win': 132,
         'entirely': 28,
         'overwhelming': 19,
         'calling': 181,
         'government': 2076,
         'hold': 143,
         'prevent': 142,
         'irreversible': 16,
         'damage': 108,
         'turkey': 544,
         'isorry': 2,
         'downing': 25,
         'russian': 1222,
         'jet': 98,
         'edward': 182,
         'snowden': 445,
         'lawyer': 121,
         'push': 101,
         'pardon': 13,
         'obama': 533,
         'opinion': 52,
         'poll': 132,
         'majority': 108,
         'half': 277,
         'adults': 33,
         'say': 852,
         'happy': 41,
         'result': 114,
         'five': 400,
         '43': 61,
         'saying': 243,
         'unhappy': 13,
         'outcome': 13,
         'conservative': 101,
         'campaigner': 13,
         'post': 207,
         'economists': 20,

# A note on Word Embeddings

![word_embed](resources/wordvectors.png)

**Reference**: https://nlp.stanford.edu/projects/glove/

## We are going to use Glove embeddings to initialize our weights while designing our neural network. Let's load the same so that we can ensure our headline corpus' vocabulary matches where possible with Glove Embedding vocabulary.

In [40]:
# Load GloVe's embeddings
embeddings_index = {}
with open('glove.840B.300d.txt', encoding='utf-8') as f:
    for line in f:
        values = line.split(' ')
        word = values[0]
        embedding = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = embedding

print('Word embeddings:', len(embeddings_index))

Word embeddings: 2196016

## It is not necessary that we will have embeddings for all the words in Glove. So to limit such cases by limiting vocabulary by applying simple logic:  Remove the words that are "rare" and are not available in Glove

In [41]:
# Limit the vocab that we will use to words that appear ≥ threshold or are in GloVe

# Define threshold
threshold = 10

#dictionary to convert words to integers
vocab_to_int = {} 

value = 0
for word, count in word_counts.items():
    if count >= threshold or word in embeddings_index:
        vocab_to_int[word] = value
        value += 1

In [42]:
len(vocab_to_int)

31295

In [43]:
# Special tokens that will be added to our vocab
codes = ["<UNK>","<PAD>"]   

# Add codes to vocab
for code in codes:
    vocab_to_int[code] = len(vocab_to_int)

# Dictionary to convert integers to words
int_to_vocab = {}
for word, value in vocab_to_int.items():
    int_to_vocab[value] = word

usage_ratio = round(len(vocab_to_int) / len(word_counts),4)*100

print("Total Number of Unique Words:", len(word_counts))
print("Number of Words we will use:", len(vocab_to_int))
print("Percent of Words we will use: {}%".format(usage_ratio))

Total Number of Unique Words: 36311
Number of Words we will use: 31297
Percent of Words we will use: 86.19%

## For the words which are common within headlines but are absent in Glove corpus, we will have to randomly initialize them. Over the training, those values will be finetuned along with those of Glove vectors.

In [44]:
# Need to use 300 for embedding dimensions to match GloVe's vectors.
embedding_dim = 300

nb_words = len(vocab_to_int)
# Create matrix with default values of zero
word_embedding_matrix = np.zeros((nb_words, embedding_dim))
for word, i in vocab_to_int.items():
    if word in embeddings_index:
        word_embedding_matrix[i] = embeddings_index[word]
    else:
        # If word not in GloVe, create a random embedding for it
        new_embedding = np.array(np.random.uniform(-1.0, 1.0, embedding_dim))
        embeddings_index[word] = new_embedding
        word_embedding_matrix[i] = new_embedding

# Check if value matches len(vocab_to_int)
print(len(word_embedding_matrix))

31297

## Convert the word sequences to equivalent integer sequences so that it can be used as input to the model

In [45]:
# Change the text from words to integers
# If word is not in vocab, replace it with <UNK> (unknown)
word_count = 0
unk_count = 0

headlines_sequence = []

for daily_headline in clean_headlines:
    daily_headlines_seq = []
    for headline in daily_headline:
        headline_seq = []
        for word in headline.split():
            word_count += 1
            if word in vocab_to_int:
                headline_seq.append(vocab_to_int[word])
            else:
                headline_seq.append(vocab_to_int["<UNK>"])
                unk_count += 1
        daily_headlines_seq.append(headline_seq)
    headlines_sequence.append(daily_headlines_seq)

unk_percent = round(unk_count/word_count,4)*100

print("Total number of words in headlines:", word_count)
print("Total number of UNKs in headlines:", unk_count)
print("Percent of words that are UNK: {}%".format(unk_percent))

Total number of words in headlines: 616686
Total number of UNKs in headlines: 7139
Percent of words that are UNK: 1.16%

In [46]:
headlines_sequence[:1]

[[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
  [20,
   21,
   22,
   23,
   31295,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   30,
   32,
   33,
   34,
   35,
   36],
  [37, 38, 22, 39, 40, 41, 42],
  [43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 44, 59, 60],
  [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
  [71, 72, 73, 74, 75, 76, 77, 78],
  [79, 80, 81, 82, 83, 84, 85, 86],
  [87, 88, 89, 90, 91, 92, 93, 94],
  [95, 96, 97, 98, 99, 100, 101],
  [102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 22],
  [113, 114, 115, 116, 117, 118, 119],
  [120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132],
  [133,
   134,
   135,
   136,
   137,
   138,
   139,
   140,
   141,
   142,
   102,
   72,
   143,
   144,
   145,
   146,
   22,
   147,
   64,
   148,
   149],
  [150, 151, 152, 153, 154, 155, 156],
  [157, 158, 159, 160, 161, 162, 163, 164, 165],
  [166, 167, 168, 169, 170, 171, 172, 173, 174, 175],
  [176, 177, 132, 178, 179, 180, 181, 182, 183, 184, 185],
  [45, 186, 187, 188, 58, 116, 189, 190, 191, 192, 193, 113, 194, 195],
  [196, 161, 162, 163, 197, 198, 164, 165, 199, 200, 201],
  [202, 203, 204, 205, 206, 207, 208, 209, 210, 211],
  [212,
   213,
   214,
   215,
   184,
   102,
   216,
   217,
   218,
   219,
   31295,
   220,
   221,
   222,
   223,
   224,
   225,
   226,
   219,
   227,
   228,
   229,
   230,
   104,
   217,
   231],
  [102,
   232,
   83,
   233,
   234,
   235,
   236,
   237,
   238,
   239,
   240,
   241,
   84,
   242,
   243,
   244,
   239],
  [245,
   246,
   247,
   248,
   249,
   250,
   251,
   245,
   252,
   249,
   253,
   254,
   255,
   256,
   250,
   251,
   257,
   258,
   259,
   260,
   261,
   262,
   263,
   264,
   265,
   122,
   266,
   267],
  [268, 22, 269, 270, 116, 56, 271, 272, 273, 274, 275],
  [276, 277, 278, 279, 280, 93, 72, 281, 282, 283]]]

## Ensure that the variations in the number of news headlines each day and length of each headlines are handled by taking an average number of headlines each day and average length per headline

In [47]:
# Find the length of headlines
lengths = []
for headlines in headlines_sequence:
    for headline in headlines:
        lengths.append(len(headline))

# Create a dataframe so that the values can be inspected
lengths = pd.DataFrame(lengths, columns=['counts'])

In [48]:
lengths.describe()

             counts
count  49693.000000
mean      12.409917
std        6.789827
min        1.000000
25%        7.000000
50%       10.000000
75%       16.000000
max       41.000000

## Limit the length of a day's news to 200 words, and the length of any headline to 16 words. These values are chosen to not have an excessively long training time and balance the number of headlines used and the number of words from each headline.

In [49]:
max_headline_length = 16
max_daily_length = 200
pad_headlines = []

# For each date in all the dates available
for headlines in headlines_sequence:
    pad_daily_headlines = []
    # for each headline for each date
    for headline in headlines:
        # Add headline if it is less than max length
        if len(headline) <= max_headline_length:
            for word in headline:
                pad_daily_headlines.append(word)
        # Limit headline if it is more than max length  
        else:
            headline = headline[:max_headline_length]
            for word in headline:
                pad_daily_headlines.append(word)
    
    # Pad daily_headlines if they are less than max length
    if len(pad_daily_headlines) < max_daily_length:
        for i in range(max_daily_length-len(pad_daily_headlines)):
            pad = vocab_to_int["<PAD>"]
            pad_daily_headlines.append(pad)
    # Limit daily_headlines if they are more than max length
    else:
        pad_daily_headlines = pad_daily_headlines[:max_daily_length]
    pad_headlines.append(pad_daily_headlines)

## Split data into training and testing sets.
## Validating data will be created during training.

In [50]:
x_train, x_test, y_train, y_test = train_test_split(pad_headlines, norm_price, test_size = 0.15, random_state = 2)

x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [51]:
# Check the lengths
print(len(x_train))
print(len(x_test))

1689
299

# Model Building

## The CNN-RNN architecture
![cnn-rnn](resources/cnn-1d-rnn.jpg)

## 1. Define the hyperparameters

In [52]:
filter_length = 5
dropout = 0.5
learning_rate = 0.001
weights = initializers.TruncatedNormal(mean=0.0, stddev=0.1, seed=2)
nb_filter = 16
rnn_output_size = 128
hidden_dims = 128

## 2. Create the model

In [53]:
def build_model():
    
    model = Sequential()
    
    # Layer 1 - Embedding
    model.add(Embedding(nb_words, 
                         embedding_dim,
                         weights=[word_embedding_matrix], 
                         input_length=max_daily_length))
    model.add(Dropout(dropout))
    
    # Layer 2 - Convolution 1 with dropout
    model.add(Convolution1D(filters = nb_filter, 
                             kernel_size = filter_length, 
                             padding = 'same',
                             activation = 'relu'))
    model.add(Dropout(dropout))    

    # Layer 3 - Convolution 2 with Dropout 
    model.add(Convolution1D(filters = nb_filter, 
                                 kernel_size = filter_length, 
                                 padding = 'same',
                                 activation = 'relu'))
    model.add(Dropout(dropout))    

    # Layer 4 - RNN with dropout
    model.add(LSTM(rnn_output_size, 
                    activation=None,
                    kernel_initializer=weights,
                    dropout = dropout))    

    # Layer 5 - Dense FFN with Dropout
    model.add(Dense(hidden_dims, kernel_initializer=weights))
    model.add(Dropout(dropout))
    
    model.add(Dense(1, 
                    kernel_initializer = weights,
                    name='output'))

    model.compile(loss='mean_squared_error',
                  optimizer=Adam(lr=learning_rate,clipvalue=1.0))
    return model

## 3. Fit the model

In [54]:
model = build_model()
print()
save_best_weights = 'best_weights.h5'

callbacks = [ModelCheckpoint(save_best_weights, monitor='val_loss', save_best_only=True),
            EarlyStopping(monitor='val_loss', patience=5, verbose=1, mode='auto'),
            ReduceLROnPlateau(monitor='val_loss', factor=0.2, verbose=1, patience=3)]

history = model.fit([x_train],
                    y_train,
                    batch_size=128,
                    epochs=100,
                    validation_split=0.15,
                    verbose=True,
                    shuffle=True,
                    callbacks = callbacks)
print(model.summary())

WARNING:tensorflow:Layer lstm will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU

Epoch 1/100
12/12 [==============================] - 6s 540ms/step - loss: 0.0506 - val_loss: 0.0373
Epoch 2/100
12/12 [==============================] - 6s 465ms/step - loss: 0.0263 - val_loss: 0.0298
Epoch 3/100
12/12 [==============================] - 5s 417ms/step - loss: 0.0169 - val_loss: 0.0193
Epoch 4/100
12/12 [==============================] - 5s 435ms/step - loss: 0.0135 - val_loss: 0.0142
Epoch 5/100
12/12 [==============================] - 5s 445ms/step - loss: 0.0120 - val_loss: 0.0117
Epoch 6/100
12/12 [==============================] - 5s 450ms/step - loss: 0.0107 - val_loss: 0.0090
Epoch 7/100
12/12 [==============================] - 5s 430ms/step - loss: 0.0103 - val_loss: 0.0079
Epoch 8/100
12/12 [==============================] - 5s 407ms/step - loss: 0.0104 - val_loss: 0.0079
Epoch 9/100
12/12 [==============================] - 5s 405ms/step - loss: 0.0104 - val_loss: 0.0094
Epoch 10/100
12/12 [==============================] - ETA: 0s - loss: 0.0097
Epoch 00010: ReduceLROnPlateau reducing learning rate to 0.00020000000949949026.
12/12 [==============================] - 5s 401ms/step - loss: 0.0097 - val_loss: 0.0083
Epoch 11/100
12/12 [==============================] - 5s 396ms/step - loss: 0.0100 - val_loss: 0.0085
Epoch 12/100
12/12 [==============================] - 5s 435ms/step - loss: 0.0096 - val_loss: 0.0078
Epoch 13/100
12/12 [==============================] - ETA: 0s - loss: 0.0096
Epoch 00013: ReduceLROnPlateau reducing learning rate to 4.0000001899898055e-05.
12/12 [==============================] - 5s 406ms/step - loss: 0.0096 - val_loss: 0.0084
Epoch 14/100
12/12 [==============================] - 5s 408ms/step - loss: 0.0098 - val_loss: 0.0083
Epoch 15/100
12/12 [==============================] - 5s 408ms/step - loss: 0.0095 - val_loss: 0.0080
Epoch 16/100
12/12 [==============================] - ETA: 0s - loss: 0.0098
Epoch 00016: ReduceLROnPlateau reducing learning rate to 8.000000525498762e-06.
12/12 [==============================] - 5s 414ms/step - loss: 0.0098 - val_loss: 0.0080
Epoch 17/100
12/12 [==============================] - 5s 401ms/step - loss: 0.0096 - val_loss: 0.0080
Epoch 00017: early stopping
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 200, 300)          9389100
_________________________________________________________________
dropout (Dropout)            (None, 200, 300)          0
_________________________________________________________________
conv1d (Conv1D)              (None, 200, 16)           24016
_________________________________________________________________
dropout_1 (Dropout)          (None, 200, 16)           0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 200, 16)           1296
_________________________________________________________________
dropout_2 (Dropout)          (None, 200, 16)           0
_________________________________________________________________
lstm (LSTM)                  (None, 128)               74240
_________________________________________________________________
dense (Dense)                (None, 128)               16512
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
output (Dense)               (None, 1)                 129
=================================================================
Total params: 9,505,293
Trainable params: 9,505,293
Non-trainable params: 0
_________________________________________________________________
None

## 4. Predict using the model

In [55]:
predictions = model.predict([x_test], verbose = True)

10/10 [==============================] - 0s 49ms/step

In [56]:
# Compare testing loss to training and validating loss
mse(y_test, predictions)

0.008030010025454549

In [57]:
# Revert prediction back to actual scale
def unnormalize(price):
    '''Revert values to their unnormalized amounts'''
    price = price*(max_price-min_price)+min_price
    return(price)

In [58]:
# Store back-scaled predictions
unnorm_predictions = []
for pred in predictions:
    unnorm_predictions.append(unnormalize(pred))

# Store back-scaled actuals
unnorm_y_test = []
for y in y_test:
    unnorm_y_test.append(unnormalize(y))

In [59]:
# Calculate the median absolute error for the predictions
mae(unnorm_y_test, unnorm_predictions)

94.66900572265695

In [60]:
pd.Series(unnorm_y_test).describe()

count    299.000000
mean       7.094101
std      139.532324
min     -673.139648
25%      -54.689941
50%       10.759766
75%       87.465332
max      541.050782
dtype: float64

## Make Your Own Predictions

Below is the code necessary to make your own predictions. I found that the predictions are most accurate when there is no padding included in the input data. In the create_news variable, I have some default news that you can use, which is from April 30th, 2017. Just change the text to whatever you want, then see the impact your new headline will have.

In [61]:
def news_to_int(news):
    '''Convert your created news into integers'''
    ints = []
    for word in news.split():
        if word in vocab_to_int:
            ints.append(vocab_to_int[word])
        else:
            ints.append(vocab_to_int['<UNK>'])
    return ints

In [62]:
def padding_news(news):
    '''Adjusts the length of your created news to fit the model's input values.'''
    padded_news = news
    if len(padded_news) < max_daily_length:
        for i in range(max_daily_length-len(padded_news)):
            padded_news.append(vocab_to_int["<PAD>"])
    elif len(padded_news) > max_daily_length:
        padded_news = padded_news[:max_daily_length]
    return padded_news

In [63]:
# Default news that you can use

create_news =  "Woman says note from Chinese 'prisoner' was hidden in new purse. \
               21,000 AT&T workers poised for Monday strike \
               housands march against Trump climate policies in D.C., across USA \
               Kentucky judge won't hear gay adoptions because it's not in the child's \"best interest\" \
               Multiple victims shot in UTC area apartment complex \
               Drones Lead Police to Illegal Dumping in Riverside County | NBC Southern California \
               An 86-year-old Californian woman has died trying to fight a man who was allegedly sexually assaulting her 61-year-old friend. \
               Fyre Festival Named in $5Million+ Lawsuit after Stranding Festival-Goers on Island with Little Food, No Security. \
               The \"Greatest Show on Earth\" folds its tent for good \
               U.S.-led fight on ISIS have killed 352 civilians: Pentagon \
               Woman offers undercover officer sex for $25 and some Chicken McNuggets \
               Ohio bridge refuses to fall down after three implosion attempts \
               Jersey Shore MIT grad dies in prank falling from library dome \
               New York graffiti artists claim McDonald's stole work for latest burger campaign \
               SpaceX to launch secretive satellite for U.S. intelligence agency \
               Severe Storms Leave a Trail of Death and Destruction Through the U.S. \
               Hamas thanks N. Korea for its support against ‘Israeli occupation’ \
               Baker Police officer arrested for allegedly covering up details in shots fired investigation \
               Miami doctor’s call to broker during baby’s delivery leads to $33.8 million judgment \
               Minnesota man gets 15 years for shooting 5 Black Lives Matter protesters \
               South Australian woman facing possible 25 years in Colombian prison for drug trafficking \
               The Latest: Deal reached on funding government through Sept. \
               Russia flaunts Arctic expansion with new military bases"

clean_news = clean_text(create_news)

int_news = news_to_int(clean_news)

pad_news = padding_news(int_news)

pad_news = np.array(pad_news).reshape((1,-1))

pred = model.predict([pad_news])

price_change = unnormalize(pred)

print("The Dow should open: {} from the previous open.".format(np.round(price_change[0][0],2)))

The Dow should open: -52.04999923706055 from the previous open.